body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  height: 100%;
  width:100%;
}
.popup > :nth-of-type(2) {
  padding: 10px;
}
.popup {
  color: rgb(41, 61, 248);
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.hjk{
  COLOR:rgb(194, 192, 192)
}